<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> calling to srujana</h1>
        
        <h1>rining........</h1>
       
        <h1> lifted the call...</h1>
        
        <h1>eraa vadilestunavaaaaaaaa?????????????</h1>
        
        <a href="{% url 'srujana' %}"><h1>Response of srujana</h1></a>

     
        




    </center>
</body>
</html>